<div class="container card-container">

        <div class="row chart-row justify-content-between">
            <div class="col-3">
                <div class="card">
                    <img src="https://via.placeholder.com/140x100" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pet Name</h5>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <div class="accordion" id="aone">
                    <div class="accordion-item custom-item">
                        <h2 class="accordion-header custom-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button custom-abuttonOne" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Demographics
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="demo"><strong>Name: </strong></div>
                                <div class="demo"><strong>Age: </strong></div>
                                <div class="demo"><strong>Gender: </strong></div>
                                <div class="demo"><strong>Breed: </strong></div>
                                <!-- <div class="demo"><strong>Microchip ID: </strong></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item custom-item">
                        <h2 class="accordion-header custom-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed custom-abuttonTwo" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                Diagnoses
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <div class="demo">Diabetes </div>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item custom-item">
                        <h2 class="accordion-header custom-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed custom-abuttonThree" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                Medications
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <table style="width:100%">
                                    <tr>
                                      <th>Medication Name</th>
                                      <th>Last Given</th>
                                      <th>Next Due</th>
                                    </tr>
                                    
                                    <tr>
                                      <td>HeartGuard</td>
                                      <td>Jan 1, 2022</td>
                                      <td>Feb 1, 2022</td>
                                      <td><button>Edit</button></td>
                                    </tr>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item custom-item">
                        <h2 class="accordion-header custom-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed custom-abuttonFour" type="button"
                                data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                                aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                Vaccinations
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <table style="width:95%">
                                    <tr>
                                      <th>Vaccine</th>
                                      <th>Last Given</th>
                                      <th>Next Due</th>
                                    </tr>
                                    
                                    <tr>
                                      <td>Alfreds Futterkiste</td>
                                      <td>Maria Anders</td>
                                      <td>Germany</td>
                                    </tr>
                                    </table>
                                    <button class="newVax">Add New</button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>