<div class="container card-container">


    <div class="row justify-content-center">
        <div class="col-6">

            <h1>new pet form</h1>

            <form class='new-pet'>
                <div class="form-group">
                    <label for="exampleInputEmail1">Pet Name</label>
                    <input type="input" class="form-control" id="new-pet-name" aria-describedby="emailHelp"
                        placeholder="Pet Name">

                </div>
                <br>
                <label for="exampleInputEmail1">Please select pet type:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="type">
                    <label class="form-check-label" for="check1">Dog</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="type">
                    <label class="form-check-label" for="check2">Cat</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="type">
                    <label class="form-check-label" for="check3">Horse</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Add New Pet</button>
            </form>


        </div>
    </div>
</div>


<script src="./js/addPet.js"></script>