.header-text {
    margin-left: 15px;
    letter-spacing: 0.25rem;

}

.custom-jumbo {
    background-color: rgb(52, 61, 53);
    color: white;
}

.custom-container {
    border-bottom: 3px solid #1c1c20;
    /* background-image: linear-gradient(white 50%, rgb(110, 78, 161)); */
    /* background-color: skyblue; */
}

.card-container {
    margin-top: 2rem;
}

.all-card1 {
    border: solid rgb(170, 96, 96) 4px;
    border-radius: 30px;
    background-color: rgb(240, 194, 194);
}

.all-card2 {
    border: solid rgb(173, 115, 61) 4px;
    border-radius: 30px;
    background-color: rgb(241, 209, 179) ;
}

.cust-card-header1 {
    color: white;
    background-color: rgb(170, 96, 96);
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cust-card-header2 {
    color: white;
    background-color: rgb(173, 115, 61);
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.custom-btn1 {
    background-color: rgb(170, 96, 96);
    color: white;
    margin-top: 10px;
    width: 100%;
}

.custom-btn2 {
    background-color: rgb(173, 115, 61);
    color: white;
    margin-top: 10px;
    width: 100%;
}

.register {
    font-size: 15px;
    color: black
}
a {
    text-decoration: none;
}

.footer {
   margin-bottom: 0;
}

.custom-abuttonOne {
    background-color: #934020;
    color: white;

}

.custom-abuttonTwo {
    background-color: #3d242d;
    color: white;
}

.custom-abuttonThree {
    background-color: #2e4e2b;
    color: white;
}

.custom-abuttonFour {
    background-color: #022345;
    color: white;
}

.custom-show1 {
    background-color: #e9cdc2;
}

.custom-show2 {
    background-color: #eed7df;
}

.custom-show3 {
    background-color: #d3e6d2;
}

.custom-show4 {
    background-color: #b4c5d6;
}


.new-pet1 {
    background-color: rgb(68, 65, 65);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
}

.card {
    border: none;
}

.new-pet {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.custom-container1 {
    margin-top: 1rem;
    background-color: lightblue;
    padding: 10px;
    width: 45%;
    border-radius: 30px;
    border: solid rgb(67, 67, 175) 10px;
    margin-bottom: 10rem;
}
.custom-col2 {
    padding-top: 15px;
}

.hidden {
    display: none;
}

.img {
    width: 100%;
    height: 100%;
    margin-top: 3px;
 
}

.petCard {
    border: none;
    background-color: rgb(145, 106, 48);
    color: white;
}


///////////////////////////////


.bodyLogin {
    background-color: lightblue;
}

body {
    background-color: rgb(202, 224, 233);
}

.custom-star {
    color: rgb(189, 37, 37);
}

.card {
    /* border: navy solid 3px; */
    background-color: rgb(68, 65, 65);
    padding: 0;
}

.logout {
    color: white;
    background-color: rgb(52, 61, 53);
    border: none;
    text-align: end;
}